@font-face {
    font-family: "Gilroy-Heavy";
    src: url("fonts/Gilroy-Heavy.otf") format("opentype");
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("fonts/Gilroy-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("fonts/Gilroy-Medium.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_1";
    src: url("fonts/NewAirportDot1.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_2";
    src: url("fonts/NewAirportDot2.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_3";
    src: url("fonts/NewAirportDot3.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_4";
    src: url("fonts/NewAirportDot4.otf") format("opentype");
}
@font-face {
    font-family: "New_Airport_Dot_5";
    src: url("fonts/NewAirportDot5.otf") format("opentype");
}

html {
	font-size: 1rem;
}

body {
	font-family: "Gilroy-Medium", arial, sans-serif;
	margin: 0;
	background-color: black;
}

#tracking-container {
	border: 2px solid;
	position: relative;
	background-color: #26C2EB; /* Extra Life Dark Blue */
	border-color: #C73047; /* CMN Hospitals Red */
	color: #ffffff;
}

#header {
	background-color: #1D4C6C; /* Extra Life Light Blue */
	display: block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
	padding: 3px;
	position: relative;
	left: -3px;
	top: -3px;
	width: 100%;
}

.elt {
	font-size: 1.4em;
	line-height: 1.4em;
	padding: 3px;
	position: relative;
}

.small-text {
	font-size: 0.6em;
	line-height: 0.7em;
}

.glow {
	color: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow {
  from {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.4),
            0 0 2px rgba(255, 255, 255, 0.4), 
          0 0 3px rgba(255, 255, 255, 0.4), 
          0 0 4px rgba(255, 255, 255, 0.4), 
          0 0 5px rgba(255, 255, 255, 0.4), 
          0 0 6px rgba(255, 255, 255, 0.4), 
          0 0 7px rgba(255, 255, 255, 0.4);
  }
  to {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.45),
            0 0 3px rgba(255, 255, 255, 0.45),
          0 0 4px rgba(255, 255, 255, 0.45), 
          0 0 5px rgba(255, 255, 255, 0.45), 
          0 0 6px rgba(255, 255, 255, 0.45), 
          0 0 7px rgba(255, 255, 255, 0.45), 
          0 0 8px rgba(255, 255, 255, 0.45);
  }
}