@font-face {
    font-family: "Proxima-Nova-Reg";
    src: url("fonts/Proxima-Nova-Reg.otf") format("opentype");
}
@font-face {
    font-family: "Proxima-Nova-Reg-It";
    src: url("fonts/Proxima-Nova-Reg-It.otf") format("opentype");
}
@font-face {
    font-family: "Marvin-Visions-Big-Bold";
    src: url("fonts/MarvinVisionsBig-Bold.woff2") format('woff');
}
@font-face {
    font-family: "FuturaNowHeadlineBlack";
    src: url("fonts/FuturaNowHeadlineBlack.ttf") format('truetype');
} 
@font-face {
    font-family: "FuturaNowHeadlineMedium";
    src: url("fonts/FuturaNowHeadlineMedium.ttf") format('truetype');
}
@font-face {
    font-family: "BrockmannMedium";
    src: url("fonts/brockmann-medium-webfont.woff2") format('woff');
}

html {
	font-size: 1rem;
}

body {
	font-family: "BrockmannMedium", arial, sans-serif;
	font-weight: 900;
	margin: 0;
	background-color: black;
}

#tracking-container {
	border: 2px solid;
	position: relative;
	background-color: #26C2EB; /* Extra Life Dark Blue */
	border-color: #C73047; /* CMN Hospitals Red */
	color: #FAF7DC;
}

#header {
	background: none;
	display: block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
	padding: 3px;
	position: relative;
	left: -3px;
	top: -3px;
	width: 100%;
}

.elt {
	font-size: 1.4em;
	line-height: 1.4em;
	padding: 3px;
	position: relative;
}

.small-text {
	font-size: 0.6em;
	line-height: 0.7em;
}

.seafoam {
	color: #11f9f8 !important;
	text-shadow: 2px 4px rgba(13,249,248,.2),
	0px 0px 5px rgba(13,249,248,.1),
	0px 0px 10px rgba(13,249,248,.2),
	0px 0px 15px rgba(13,249,248,.3),
	0px 0px 20px rgba(13,249,248,.4) !important;
}
.gold {
	color: #FFE81F !important;
	text-shadow: 2px 4px rgba(255, 232, 31,.2),
	0px 0px 5px rgba(255, 232, 31,.1),
	0px 0px 10px rgba(255, 232, 31,.2),
	0px 0px 15px rgba(255, 232, 31,.3),
	0px 0px 20px rgba(255, 232, 31,.4) !important;
}