:root {
	--white: #f4f4f9;
	--blue: #a9e3e3;
	--green: #49D59C;
	--cream: #FAF7DC;
}

@font-face {
    font-family: "Proxima-Nova-Reg";
    src: url("fonts/Proxima-Nova-Reg.otf") format("opentype");
}
@font-face {
    font-family: "Proxima-Nova-Reg-It";
    src: url("fonts/Proxima-Nova-Reg-It.otf") format("opentype");
}
@font-face {
    font-family: "Marvin-Visions-Big-Bold";
    src: url("fonts/MarvinVisionsBig-Bold.woff2") format('woff');
}
@font-face {
    font-family: "FuturaNowHeadlineBlack";
    src: url("fonts/FuturaNowHeadlineBlack.ttf") format('truetype');
} 
@font-face {
    font-family: "FuturaNowHeadlineMedium";
    src: url("fonts/FuturaNowHeadlineMedium.ttf") format('truetype');
}
@font-face {
    font-family: "BrockmannMedium";
    src: url("fonts/brockmann-medium-webfont.woff2") format('woff');
}
@font-face {
	font-family: "NBArchitekLight";
	src: url("fonts/NBArchitektStd-Light.otf") format('opentype');
}
@font-face {
	font-family: "NBArchitekRegular";
	src: url("fonts/NBArchitektStd-Regular.otf") format('opentype');
}
@font-face {
	font-family: "NBArchitekBold";
	src: url("fonts/NBArchitektStd-Bold.otf") format('opentype');
}

html {
	font-size: 1rem;
}

body {
	font-family: "BrockmannMedium", arial, sans-serif;
	font-weight: 900;
	margin: 0;
	background-color: black;
}

#tracking-container {
	border: 2px solid;
	position: relative;
	background-color: #26C2EB; /* Extra Life Dark Blue */
	border-color: #C73047; /* CMN Hospitals Red */
	color: #FAF7DC;
}

#header {
	background: none;
	display: block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
	padding: 3px;
	position: relative;
	left: -3px;
	top: -3px;
	width: 100%;
}

.elt {
	font-size: 1.4em;
	line-height: 1.4em;
	padding: 3px;
	position: relative;
}

.small-text {
	font-size: 0.6em;
	line-height: 0.7em;
}