#tracking-container {
	opacity: 1;
	background: none;
	border: none;
}

#header{
	background: none;
	font-family: "New_Airport_Dot_3", "Gilroy-SemiBold", arial, sans-serif;
	font-size: 1.25em;
	color: white;
	letter-spacing: .15em;
}

#goal, #raised {
	font-family: "New_Airport_Dot_2", "Gilroy-medium", arial, sans-serif;
	font-size: 1.75em;
	color: white;
	letter-spacing: .15em;
}

#line-break{
	height: 20px;
}