

#tracking-container {
	opacity: 1;
	background: none;
	border: none;
}

#header{
	background: none;
	font-family: "New_Airport_Dot_3", "Gilroy-SemiBold", arial, sans-serif;
	font-size: 1.5em;
	color: white;
	letter-spacing: .05em;
}

#swear-amount {
	font-family: "New_Airport_Dot_2", "Gilroy-medium", arial, sans-serif;
	font-size: 2.0em;
	color: white;
	letter-spacing: .05em;
}
